.wrapper {
  background: var(--dark-ligther);
  padding: 32px 56px;
  border-radius: 8px;
}

.wrapper input {
  display: block;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.wrapper input:focus {
  outline: none;
}

.wrapper ul {
  margin-top: 16px;
  list-style-type: none;
}
