.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 72px;

  background: var(--dark-ligther);
  padding: 32px 56px;
  border-radius: 8px;
}

.count {
  width: 60px;
  height: 60px;
  background: var(--dark);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;

  border-radius: 50%;
}
