@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

:root {
  --dark: #181919;
  --dark-ligther: #313333;
  --blue: #1e90ff;
  --blue-darker: #1f7bd6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  color: white;
  background: var(--dark);
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 185px;
    padding-right: 185px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: 250px;
    padding-right: 250px;
  }
}
